/* ==========================================================================
   Global Overrides
  ========================================================================== */
* {
  box-sizing: border-box;
}

.clearfix:after {
  display: table;
  clear: both;
  content: "";
}

/* ==========================================================================
   Author's custom styles - Header and hero
  ========================================================================== */

header {
	border: 1px solid black;

}

nav {
border: 1px solid black;
}

nav ul {
border: 1px solid black;
}

nav li {

}
/*=============================================================
Global defaults - fonts, colors, links
==============================================================*/
body {
border: 1px solid black;
}

h1 {
border: 1px solid black;
}

h2 {
border: 1px solid black;
}

h3 {
border: 1px solid black;
}

p{
border: 1px solid black;
}

a, a:visited, a:active {

}

a:hover {

}
/*=============================================================
articles, buttons, callouts, sliders
==============================================================*/

.topics {

}

.callout {

}

.info {

}

.button {

}